In [1]:
import plotly.graph_objects as go
import pandas as pd

In [2]:
df = pd.read_pickle(r"shared/Motor_Vehicle_Collisions_-_Crashes.pkl")

In [3]:
df

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

In [4]:
data_types = df.dtypes
print(data_types)

CRASH DATE_CRASH TIME            datetime64[ns]
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
dtype: object

In [5]:
df['Simple Date'] = pd.to_datetime(df['CRASH DATE_CRASH TIME'])

df['Simple Date'] = df['Simple Date'].dt.strftime('%Y-%m-%d')

df['Simple Date'] = pd.to_datetime(df['Simple Date'])

print(df[['CRASH DATE_CRASH TIME', 'Simple Date']])
print("****************************************************")

        CRASH DATE_CRASH TIME Simple Date
0         2021-09-11 02:39:00  2021-09-11
1         2022-03-26 11:45:00  2022-03-26
2         2022-06-29 06:55:00  2022-06-29
3         2021-09-11 09:35:00  2021-09-11
4         2021-12-14 08:13:00  2021-12-14
...                       ...         ...
2018240   2023-07-03 18:05:00  2023-07-03
2018241   2023-07-22 21:39:00  2023-07-22
2018242   2023-07-02 17:55:00  2023-07-02
2018243   2023-07-22 13:15:00  2023-07-22
2018244   2023-07-22 03:00:00  2023-07-22

[2018245 rows x 2 columns]
****************************************************

In [6]:
data_types = df.dtypes
print(data_types)
print("****************************************************")

CRASH DATE_CRASH TIME            datetime64[ns]
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
Simple Date                      datetime64[ns]
dtype: object
****************************************************

In [7]:
df_sorted = df.sort_values(by='Simple Date')
df_sorted
print("****************************************************")

****************************************************

In [8]:
df_since_2012 = df[df['Simple Date'].dt.year >= 2012]

df_since_2012 = df_since_2012.dropna(subset=['BOROUGH'])
df_since_2012
print("****************************************************")

****************************************************

Which borough has had the highest total number of crashes reported since 2012? (Ignore missing values)

In [9]:
crashes_by_borough = df_since_2012['BOROUGH'].value_counts()

highest_crashes_borough = crashes_by_borough.idxmax()

print(f"The borough with the highest total number of crashes since 2012 is: {highest_crashes_borough}")
print("****************************************************")

The borough with the highest total number of crashes since 2012 is: BROOKLYN
****************************************************

We relate the number of crashes to to the borough's population to find out which borough has the maximum number of crashes for every 100,000 people. Even though the data does not have this information, we can combine the crash data with the population estimates for the boroughs also available from the City of New York's website (https://data.cityofnewyork.us/City-Government/New-York-City-Population-by-Borough-1950-2040/xywu-7bv9)

Use the below population estimates for the question that follows:

Borough - Population 
Bronx - 1446788 
Brooklyn - 2648452 
Manhattan - 1638281 
Queens - 2330295 
Staten Island - 487155 

Considering the entire data set since July 2012, which borough has the most crashes for every 100,000 people? (hint: divide the total count of crashes by the population, and multiply by 100,000)

In [10]:
population_data = {
    'Borough': ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
    'Population': [1446788, 2648452, 1638281, 2330295, 487155]
}

df_population = pd.DataFrame(population_data)
df_population
print("****************************************************")

****************************************************

In [11]:
df['BOROUGH'] = df['BOROUGH'].str.strip()

In [12]:
print(df['BOROUGH'].dtype)
print(df_population['Borough'].dtype)
print("****************************************************")

object
object
****************************************************

In [13]:
df['BOROUGH'] = df['BOROUGH'].str.lower()
df_population['Borough'] = df_population['Borough'].str.lower()
print("****************************************************")

****************************************************

In [14]:
df['BOROUGH'] = df['BOROUGH'].str.strip()

df_merged = pd.merge(df, df_population, how='left', left_on='BOROUGH', right_on='Borough')

df_merged = df_merged.dropna(subset=['BOROUGH'])

df_merged
print("****************************************************")

****************************************************

In [15]:
df_merged = df_merged.dropna(subset=['BOROUGH', 'Population'])

crashes_by_borough = df_merged['BOROUGH'].value_counts()

crash_rate_per_100k = (crashes_by_borough / df_population.set_index('Borough')['Population']) * 100000

highest_crash_rate_borough = crash_rate_per_100k.idxmax()

print(f"The borough with the highest crash rate per 100,000 people since July 2012 is: {highest_crash_rate_borough}")
print("****************************************************")

The borough with the highest crash rate per 100,000 people since July 2012 is: manhattan
****************************************************

In [16]:
crash_rate_per_100k

bronx            14193.164444
brooklyn         16652.217975
manhattan        19121.628097
queens           15983.255339
staten island    11966.827806
dtype: float64

For a large proportion of the crashes, the 'contributing factor vehicle 1' is a missing value, indicated as 'Unspecified' in the data.

Remove all rows where the contributing factor vehicle 1 is not known, leaving only the crashes where only this information is available.

For this dataset, what is the leading cause of crashes (ignoring 'Unspecified') (use the field 'CONTRIBUTING FACTOR VEHICLE 1')?

What proportion of accidents are attributable to this cause?

1) Filter out rows where 'CONTRIBUTING FACTOR VEHICLE 1' is 'Unspecified'
2) Count the occurrences of each contributing factor
3) Get the leading cause of crashes
4) Calculate the proportion of accidents attributable to the leading cause

In [17]:
df_filtered = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']

contributing_factors_counts = df_filtered['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

leading_cause = contributing_factors_counts.idxmax()

proportion_of_accidents = contributing_factors_counts[leading_cause] / len(df_filtered)

print(f"The leading cause of crashes (ignoring 'Unspecified') is: {leading_cause}")
print(f"The proportion of accidents attributable to this cause is: {proportion_of_accidents:.2%}")
print("****************************************************")

The leading cause of crashes (ignoring 'Unspecified') is: Driver Inattention/Distraction
The proportion of accidents attributable to this cause is: 30.27%
****************************************************

Continuing from the previous question - the top 3 causes of crashes (ignoring 'Unspecified') account for what proportion of total crashes?

1) Filter out rows where 'CONTRIBUTING FACTOR VEHICLE 1' is 'Unspecified'
2) Count the occurrences of each contributing factor
3) Get the top 3 causes of crashes
4) Calculate the proportion of total crashes for the top 3 causes

In [18]:
df_filtered = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']

contributing_factors_counts = df_filtered['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

top3_causes = contributing_factors_counts.head(3)

proportion_of_total_crashes = top3_causes.sum() / len(df_filtered)

print(f"The top 3 causes of crashes (ignoring 'Unspecified') are:\n{top3_causes}")
print(f"The proportion of total crashes attributable to the top 3 causes is: {proportion_of_total_crashes:.2%}")
print("****************************************************")

The top 3 causes of crashes (ignoring 'Unspecified') are:
CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction    401262
Failure to Yield Right-of-Way     119166
Following Too Closely             107467
Name: count, dtype: int64
The proportion of total crashes attributable to the top 3 causes is: 47.37%
****************************************************

Considering the entire data since 2012 (and, if applicable, ignoring missing values), what is the total count of accidents that involved at least one fatality?

1) Filter the rows where atleast one fatality occured 
2) Calculate the total count of accidents with atleast one fatality

In [19]:
fatal_accidents = df[df['NUMBER OF PERSONS KILLED'] > 0]

total_fatal_accidents = len(fatal_accidents)

print(f"The total count of accidents with at least one fatality since 2012 is: {total_fatal_accidents}")
print("****************************************************")

The total count of accidents with at least one fatality since 2012 is: 2804
****************************************************

On average, for every 1000 accidents, how many have resulted in at least one person dead? (hint: divide the count of accidents with 1 or more deaths with the total number of accidents, and multiply by 1000)

1) Count the total number of accidents
2) Count the number of accidents with at least one fatality
3) Calculate the average number of fatal accidents per 1000 accidents

In [20]:
total_accidents = len(df)

fatal_accidents = df[df['NUMBER OF PERSONS KILLED'] > 0]
total_fatal_accidents = len(fatal_accidents)

average_fatalities_per_1000 = (total_fatal_accidents / total_accidents) * 1000

print(f"On average, for every 1000 accidents, there are {average_fatalities_per_1000:.2f} accidents with at least one fatality.")
print("****************************************************")

On average, for every 1000 accidents, there are 1.39 accidents with at least one fatality.
****************************************************

What proportion of accidents in the data do not have a Borough code?

1) Count the total number of accidents 
2) Count the number of accidents w/o a borough code
3) Calculate the proportion of accidents w/o a borough code.

In [21]:
total_accidents = len(df)

accidents_without_borough = df['BOROUGH'].isnull().sum()

proportion_without_borough = accidents_without_borough / total_accidents

print(f"The proportion of accidents without a Borough code is: {proportion_without_borough:.2%}")
print("****************************************************")

The proportion of accidents without a Borough code is: 31.11%
****************************************************

The fields 'VEHICLE TYPE CODE 1' and 'VEHICLE TYPE CODE 2' represent the first two vehicles involved in the accident. Which combination of vehicles have the most number of accidents?

1) Combine DATA from 'Vehicle Type Code 1' and 'Vehicle Type Code 2'
2) Find the most common combination of vehicles 
3) Get the count of accidents for the most common accident combination.

In [22]:
df['Vehicle Combination'] = df['VEHICLE TYPE CODE 1'].astype(str) + ' - ' + df['VEHICLE TYPE CODE 2'].astype(str)

most_common_combination = df['Vehicle Combination'].value_counts().idxmax()

most_common_count = df['Vehicle Combination'].value_counts().max()

print(f"The combination of vehicles with the most number of accidents is: {most_common_combination}")
print(f"The number of accidents for this combination is: {most_common_count}")
print("****************************************************")

The combination of vehicles with the most number of accidents is: Sedan - Sedan
The number of accidents for this combination is: 197944
****************************************************